/* This is the main style file */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* This is the root style section  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1320px;
  margin: 0 auto;
}
/* Common css styles  */

.display-flex {
  display: flex;
}

.bg-color {
  background-color: #161616;
}

.btn {
  color: #fff;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #dd0000;
  padding: 16px;
  font-size: 1.3rem;
}
/* The banner section starts from here */
.banner {
  border-radius: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.banner-title {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-details {
  color: #fff;
  margin-bottom: 15px;
  width: 500px;
}

.banner-image {
  max-width: 580px;
}
.banner-image > img {
  height: 613px;
  display: block;
  width: 100%;
}

/* The sidebar and match time section starts from here */
.match-time {
  margin: 50px auto;
  justify-content: space-between;
}

.match-time-left {
  background-color: #161616;
  border-radius: 10px;
  height: fit-content;
  padding: 30px;
}

.btn-2 {
  background-color: white;
  color: #161616;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.blog-btn {
  background-color: #dd0000;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.match-time-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: right;
}
.match-time-card {
  border-radius: 10px;
  border: 1px solid #b4b4b4;
  height: 240px;
  width: 310px;
  text-align: center;
  padding: 50px 30px;
}

.flags {
  justify-content: space-around;
  align-items: center;
}

.country-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #161616;
  margin: 20px 0 10px 0;
}

.match-date {
  color: #4d4d4d;
}
/* The footer section starts from here */
